@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    }

    .container{
        margin-left: 20px;
        
    }

    .botao2{
        margin-top: 10px;
        width: 300px;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}